@font-face {
    font-family: 'Baswaran';
    src: url(../../assets//fonts//Baswaran.otf);
   
  }


.counter-style {
  color: white;
  font-family: 'Baswaran';
  font-size: 20px;

  button {
    height: 25px;
    width: 45px;
    background-color: white;
    color: #1D202F;
    border-radius: 21px;
    margin: 10px;
  }
}
