.element-list{
    margin-top: 100px;
    margin-left: 170px;
}

@font-face {
    font-family: 'Baswaran';
    src: url(../assets//fonts//Baswaran.otf);
   
  }

  .title{
    font-family: 'Baswaran';
    color: white;
    font-size: 80px;
    line-height:1.2em;
    padding-top: 40px;
  }