*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
}


.app-page{
    background-color: #48284A;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}